service vendor.fps_hal_socrates /odm/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.socrates
    class late_start
    user system
    group system input uhid

on boot
    chown system system /sys/devices/platform/goodix_ts.0/fod_gesture
