<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settingsoverlay.socrates">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="com.android.settings"
             android:targetName="SocratesSettingsOverlay" />
</manifest>
