<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.lineagesdkoverlay.socrates">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="lineageos.platform"
             android:targetName="SocratesLineageSDKOverlay" />
</manifest>
