service vibratorfeature-wrapper /system/bin/hw/vibratorfeature-wrapper
    class hal
    user system
    group system
    oneshot

on property:init.svc.vibratorfeature-hal-service=restarting
    start vibratorfeature-wrapper
